<mat-toolbar fxLayoutGap="10px">
  <span>900 League {{appStateService.activeTool.display_name}}</span>
  <span class="fill-remaining-space"></span>
  <button mat-button color="primary"
          [disabled]="appStateService.activeTool === guiTools.STANDINGS"
          [routerLink]="guiTools.STANDINGS.route">{{guiTools.STANDINGS.display_name}}</button>
  <button mat-button color="primary"
          [disabled]="appStateService.activeTool === guiTools.SCHEDULE"
          [routerLink]="guiTools.SCHEDULE.route">{{guiTools.SCHEDULE.display_name}}</button>
  <button mat-button color="primary"
          [disabled]="appStateService.activeTool === guiTools.TEAMS"
          [routerLink]="guiTools.TEAMS.route">{{guiTools.TEAMS.display_name}}</button>
</mat-toolbar>
